<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <p-button class="btn" label="Click" ></p-button>
          </li>
          <li class="nav-item">
            <p-button class="btn" label="Click" ></p-button>
          </li>
          <li class="nav-item">
            <p-button class="btn" label="Click" ></p-button>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Input and button
      </div>
      <div class="row input-wrapper">
        <div class="col-md-12 ">
    <span class="p-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Username</label>
    </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p-button class="btn" label="Click" ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-servers></app-servers>

