<div class="row-container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit)="showDialog(form.value)">
        <div class="form-group">
          <label> Search by director name</label>
          <input type="text"
                  class="form-control"
                  formControlName="directorName">
        </div>

<!--        <button class="btn btn-primary">Search</button>-->
        <button class="btn btn-primary"  >Search</button>
      </form>
    </div>
  </div>

</div>


<p-dialog
  header="Movies created by director"
  [(visible)]="display">
  {{movieName}}
</p-dialog>


