<div class="row-container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit)="showDialog(form.value)">
        <div class="form-group">
          <label> Search by director name</label>
          <input type="text"
                  class="form-control"
                  formControlName="directorName">
          <input type="text"
                 class="form-control"
                 formControlName="email">
        </div>

        <button
          class="btn btn-primary"
          [disabled]="!form.valid">Search</button>
        <button
          class="btn btn-primary"
          (click)="redirectTo(form.value)">Search Director with Param</button>
        <button
          class="btn btn-primary"
          (click)="redirectToDiffPage(form.value)">Search Director with queryParam`</button>
      </form>
    </div>
  </div>

</div>

<app-add-user-dialog
  (hideModal)="closeModal($event)"
  [display]="display"
  [movieName]="movieName"
  (goToPage)="goTo($event)" >

</app-add-user-dialog>


