<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Input and button
      </div>
      <div class="row input-wrapper">
        <div class="col-md-12 ">
          <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Username</label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p-button class="btn" label="Click" ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
