/* You can add global styles to this file, and also import other style files */
body,nav{
  padding: 2rem;
}
.btn{
  margin: 10px 1px;
}
.input-wrapper{
  padding: 15px 5px 10px 12px;
}
.row-container{
  padding: 15px 0px 15px 0px;
}
